$mainblue: #5aa2f8;
$mainwhite: #ffffff;
$maingray: #e3eef5;
$subgray: #999999;

.main-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(255, 255, 255, 0) 99.99%,
      #000000 100%
    ),
    url("../images/plane.jpg");
  mix-blend-mode: multiply;

  .main-content {
    margin: 15% 15%;

    .main-title {
      font-size: 64px;
      font-weight: bold;
      color: $mainwhite;
      max-width: 1200px;
      margin: 0;
      line-height: 1;
    }

    .main-article {
      font-size: 24px;
      max-width: 1200px;
      color: $mainwhite;
      padding: 0 10px;
      margin-top: 10px;
    }

    .main-search {
      max-width: 700px;
      height: 40px;
      padding: 0 20px;
      font-size: 18px;
      background-color: $mainwhite;
      border-radius: 30px;
      margin-top: 20px;

      input {
        width: 70%;
        height: 100%;
        border: none;
        margin: 0 20px;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.common-background {
  background-image: url("../images/mainboat.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  position: relative;

  .mypage-info {
    display: flex;
    flex-direction: row;

    .mypage-profile-contents {
      display: flex;
      flex-direction: column;
    }
  }

  .mypage-profile-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: $maingray;
  }

  .mypage-username {
    font-size: 36px;
    font-weight: bold;
  }

  .mypage-profile-edit {
    font-size: 24px;
    font-weight: bold;
  }
}

.common-header-container {
  background-color: $mainwhite;
}

.common-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 5px 10px;
  margin: 0 auto;

  .logo {
    width: 100px;
    height: 25px;
  }

  .user {
    width: 50px;
    height: 50px;
  }
}

.main-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 10px;

  .main-journey {
    display: flex;
    flex-direction: row;

    .item {
      width: calc((100% - 20px) / 2);
      margin: 20px 10px;

      img {
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

.mypage-container {
  max-width: 1200px;
  margin: 160px auto;
  padding: 0 10px;
}

.common-catergory {
  font-size: 24px;
  font-weight: bold;
  width: 300px;
  border-bottom: 1px solid #000000;
  margin-left: 10px;
}

.common-journey {
  .item {
    display: inline-block;
    position: relative;
    width: calc((100% - 60px) / 3);
    margin: 20px 10px;

    img {
      width: 100%;
      border-radius: 8px;
      cursor: pointer;
    }
  }
}

.dropdown {
  list-style: none;
  position: relative;
  margin: 0;
  z-index: 10;

  .contents {
    list-style: none;
    position: absolute;
    left: -70px;
    top: 55px;
    display: none;
    background-color: $mainwhite;
    padding: 10px 5px;
    border: 1px solid #000000;
    border-radius: 8px;
  }

  &:hover .contents {
    display: block;

    li div {
      width: 150px;
      padding: 5px 5px;
      color: $subgray;
      cursor: pointer;
    }
  }
}

.journey-detail-container {
  max-width: 1200px;
  margin: 0 auto;

  .journey-detail-content {
    max-width: 900px;
    margin: 80px auto;
    padding: 0 10px;

    .journey-detail-carousel {
      margin: 20px auto;

      img {
        border-radius: 8px;
      }
    }

    .journey-detail-summary {
      font-size: 24px;
    }
  }
}

.journey-detail-title {
  width: 100%;
  position: relative;
  color: $mainwhite;

  img {
    width: 100%;
    height: 400px;
    vertical-align: middle;
    border-radius: 0 0 40px 40px;
  }

  .journey-detail-name {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    left: 5%;
  }

  .journey-detail-username {
    font-size: 24px;
    position: absolute;
    top: 70%;
    left: 5%;
  }
}

.journey-detail-path-box {
  display: flex;
  width: 100%;
  padding: 50px 10px 10px;
  border: 1px solid $subgray;
  border-radius: 8px;
  overflow: auto;

  .journey-detail-path-item {
    display: inline-block;
    margin: 0 20px;
    position: relative;

    .journey-detail-path-pin {
      width: 50px;
      height: 70px;
      margin-bottom: 20px;
    }

    .journey-detail-path-line {
      width: 90px;
      height: 75px;
      border-bottom: 5px dotted $subgray;
      position: absolute;
      top: 0;
      left: -25px;
    }
  }
}
