$screen-md: 768px;

$mainblue: #5aa2f8;
$mainwhite: #ffffff;
$maingrey: #e3eef5;
$subgrey: #999999;

@mixin mobile {
  @media (max-width: $screen-md) {
    @content;
  }
}

.main-background {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(255, 255, 255, 0) 99.99%,
      #000000 100%
    ),
    url("../images/plane.jpg");
  mix-blend-mode: multiply;

  .main-content {
    margin: 10% 15%;

    .main-title {
      font-size: 64px;
      font-weight: bold;
      color: $mainwhite;
      max-width: 1200px;
      margin: 0;
      line-height: 1;
    }

    .main-article {
      font-size: 24px;
      max-width: 1200px;
      color: $mainwhite;
      padding: 0 10px;
      margin-top: 10px;
    }

    .main-search {
      display: flex;
      align-items: center;
      max-width: 500px;
      height: 40px;
      padding: 0 20px;
      font-size: 18px;
      background-color: $mainwhite;
      border-radius: 30px;
      margin-top: 20px;

      input {
        width: 70%;
        height: 100%;
        border: none;
        margin: 0 20px;
        box-sizing: border-box;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@include mobile {
  .main-background {
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    margin: 0 auto;
    mix-blend-mode: multiply;

    .main-content {
      margin: 10%;

      .main-title {
        font-size: 32px;
        margin: 0;
        line-height: 1;
      }

      .main-article {
        font-size: 14px;
        padding: 0;
        margin-top: 10px;
      }
    }
  }
}

//header
.common-header-container {
  background-color: $mainwhite;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.common-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 5px 10px;
  margin: 0 auto;

  .logo {
    width: 100px;
    height: 25px;
  }

  .user {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
}

@include mobile {
  .common-header {
    .logo {
      width: 60px;
      height: 15px;
    }

    .user {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
}

//추천
.main-container {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 10px;

  .main-journey {
    display: flex;

    .item {
      width: calc((100% - 20px) / 2);
      margin: 20px 10px;

      img {
        width: 100%;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .main-container {
    .main-journey {
      display: flex;
      flex-direction: column;
      align-items: center;

      .item {
        width: 100%;
        margin: 10px;
      }
    }
  }
}

//메인 팔로우 or 마이페이지 여행 아이템
.common-catergory {
  font-size: 24px;
  font-weight: bold;
  width: calc((100% - 60px) / 3);
  color: #1c183d;
  border-bottom: 1px solid #000000;
  margin-left: 10px;
}

.common-journey-item {
  display: inline-block;
  position: relative;
  width: calc((100% - 60px) / 3);
  margin: 10px 10px 35px;
  position: relative;
  cursor: pointer;

  span {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  img {
    width: 100%;
    border-radius: 8px;
  }

  .journey-info {
    position: absolute;
    bottom: -20px;
    width: 100%;
    background-color: $mainwhite;
    border-radius: 0 0 8px 8px;
    border: 1px solid $subgrey;
    padding: 15px 20px;
    box-sizing: border-box;
  }

  .journey-info-title {
    font-size: 24px;
    font-weight: bold;
    color: #1c183d;
    margin: 0 0 5px 0;
  }

  .journey-info-others {
    display: flex;
    .journey-info-grey {
      display: block;
      font-size: 14px;
      color: $subgrey;
      margin: 0 5px 0 0;

      &.author {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

@include mobile {
  .common-catergory {
    width: calc(100% - 20px);
  }

  .common-journey-item {
    display: block;
    width: 100%;
    margin: 10px 0 30px;

    .journey-info {
      padding: 10px;
    }

    .journey-info-title {
      font-size: 16px;
    }

    .journey-info-others {
      .journey-info-grey {
        font-size: 14px;
      }
    }
  }
}

.common-grey-box {
  display: flex;
  padding: 10px;
  border: 1px solid $subgrey;
  border-radius: 8px;
}

.common-path-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;

  p {
    font-weight: bold;
    margin: 0 20px;
  }

  .common-path-pin {
    width: 35px;
    height: 50px;
    margin: 10px 0;
  }

  .common-path-line {
    width: 1px;
    height: 60px;
    border-left: 5px dotted $subgrey;
    position: absolute;
    top: 5px;
    left: 16px;
    z-index: -1;
  }
}

.common-category-badge {
  display: inline-block;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: $mainwhite;
  padding: 0 10px;
  line-height: 1.5;
  min-width: 45px;
  text-align: center;

  &.yellow {
    background-color: #ecce83;
  }

  &.purple {
    background-color: #b57bff;
  }
}
