$screen-md: 768px;

$mainblue: #5aa2f8;
$mainwhite: #ffffff;
$maingrey: #e3eef5;
$subgrey: #999999;

@mixin mobile {
  @media (max-width: $screen-md) {
    @content;
  }
}

.journey-detail-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 80px auto 0;

  .journey-detail-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px auto;

    .journey-detail-path {
      display: flex;
      flex-direction: column;
      width: calc((100% - 10px) / 3);
      padding: 0;
      margin-right: 10px;

      .journey-detail-map {
        width: 95%;
        height: 300px;
        padding: 5px;
        margin-bottom: 10px;
        margin-right: 10px;
      }

      .journey-detail-path-item-box {
        display: flex;
        flex-direction: column;
        height: 600px;
        overflow: auto;
        border: 1px solid $subgrey;
        border-radius: 8px 8px 0 0;
      }

      button {
        width: 100%;
        padding: 10px;
        color: $mainwhite;
        font-weight: bold;
        background-color: $mainblue;
        border-radius: 0 0 8px 8px;
        border: none;
        &:focus,
        &:hover {
          outline: none;
          cursor: pointer;
        }
      }
    }

    .journey-detail-info {
      display: flex;
      flex-direction: column;
      width: calc(((100% - 10px) / 3) * 2);
      padding: 20px;
      overflow: auto;

      .journey-detail-carousel {
        margin: 0 auto;

        img {
          border-radius: 8px;
        }
      }

      .journey-detail-summary {
        margin-top: 30px;
        padding-left: 10px;
        font-size: 16px;
      }
    }
  }
}

@include mobile {
  .journey-detail-container {
    margin: 40px 10px 0;

    .journey-detail-contents {
      flex-direction: column;
      width: 100%;

      .journey-detail-path {
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;

        .journey-detail-map {
          width: 95%;
          height: 200px;
          margin: 0 auto 10px;
        }

        .journey-detail-path-item-box {
          flex-direction: row;
          height: 100px;
        }
      }

      .journey-detail-info {
        width: 90%;

        .journey-detail-summary {
          margin-top: 30px;
          padding-left: 10px;
          font-size: 16px;
        }
      }
    }
  }
}

.journey-detail-title {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  color: $mainwhite;
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(255, 255, 255, 0) 99.99%,
    #000000 100%
  );

  .title-image {
    width: 100%;
    height: 400px;
    vertical-align: middle;
    border-radius: 0 0 40px 40px;
  }

  .overlay {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #222222 100%
    );
    border-radius: 0 0 40px 40px;
  }

  .journey-detail-name {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    bottom: 100px;
    left: 50px;
  }

  .journey-detail-username {
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    left: 50px;
  }
}

@include mobile {
  .journey-detail-title {
    .title-image {
      height: 200px;
    }

    .overlay {
      height: 200px;
    }

    .journey-detail-name {
      font-size: 32px;
      bottom: 50px;
      left: 30px;
    }

    .journey-detail-username {
      font-size: 15px;
      bottom: 5px;
      left: 30px;
    }
  }
}

.common-path-item {
  display: flex;
  align-items: center;
  margin: 0 20px;
  position: relative;

  p {
    font-weight: bold;
    margin: 0 20px;
  }

  .common-path-pin {
    width: 35px;
    height: 50px;
    margin: 10px 0;
    z-index: 1;
  }

  .common-path-line {
    width: 1px;
    height: 60px;
    border-left: 5px dotted $subgrey;
    position: absolute;
    top: 5px;
    left: 16px;
  }
}

@include mobile {
  .common-path-item {
    &.mobile {
      flex-direction: column;
      margin: 0;

      .common-path-line {
        width: 100px;
        height: 5px;
        border-left: 0px;
        border-bottom: 5px dotted $subgrey;
        top: 50px;
        left: 15px;
      }
    }
  }
}
